<form [formGroup]="form" class="billing-address">
  <h4 class="mb-3">Billing address</h4>
  <div class="row g-3">

    <div class="col-sm-6">
      <big-text-input formControlName="firstName" label="First name"></big-text-input>
    </div>

    <div class="col-sm-6">
      <big-text-input formControlName="lastName" label="Last name"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input formControlName="username" label="Username" inputGroupText="@"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input formControlName="email" label="Email" placeholder="you@example.com"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input formControlName="address" label="Address" placeholder="1234 Main St"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input formControlName="address2" label="Address 2" placeholder="Apartment or suite"></big-text-input>
    </div>

    <div class="col-md-5">
      <big-select [options]="countries.selectItems" formControlName="country" label="Country"></big-select>
    </div>

    <div class="col-md-4">
      <big-select [options]="usStates.selectItems" formControlName="country" label="State"></big-select>
    </div>

    <div class="col-md-3">
      <big-text-input formControlName="zip" label="Zip"></big-text-input>
    </div>
  </div>

  <hr class="my-4">

  <big-checkbox label="Shipping address is the same as my billing address" formControlName="isShippingSameAsBilling"></big-checkbox>
  <big-checkbox label="Save this information for next time" formControlName="isFormSavedForNextTime"></big-checkbox>

  <hr class="my-4">
</form>
