<form #f="ngForm" class="billing-address" name="form">
  <h4 class="mb-3">Billing address</h4>
  <div class="row g-3">

    <div class="col-sm-6">
      <big-text-input label="First name" name="firstName" [(ngModel)]="form.firstName"></big-text-input>
    </div>

    <div class="col-sm-6">
      <big-text-input label="Last name" name="lastName" [(ngModel)]="form.lastName"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input inputGroupText="@" label="Username" name="username" [(ngModel)]="form.username"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input label="Email" name="email" placeholder="you@example.com" [(ngModel)]="form.email"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input label="Address" name="address" [(ngModel)]="form.address" placeholder="1234 Main St"></big-text-input>
    </div>

    <div class="col-12">
      <big-text-input label="Address 2" name="address2" [(ngModel)]="form.address2" placeholder="Apartment or suite"></big-text-input>
    </div>

    <div class="col-md-5">
      <big-select [options]="countries.selectItems" label="Country" name="country" [(ngModel)]="form.country"></big-select>
    </div>

    <div class="col-md-4">
      <big-select [options]="usStates.selectItems" label="State" name="state" [(ngModel)]="form.state"></big-select>
    </div>

    <div class="col-md-3">
      <big-text-input label="Zip" name="zip" [(ngModel)]="form.zip"></big-text-input>
    </div>
  </div>

  <hr class="my-4">

  <big-checkbox label="Shipping address is the same as my billing address" name="isShippingSameAsBilling"
                [(ngModel)]="form.isShippingSameAsBilling"></big-checkbox>
  <big-checkbox label="Save this information for next time" name="isFormSavedForNextTime" [(ngModel)]="form.isFormSavedForNextTime"></big-checkbox>

  <hr class="my-4">

  <button class="btn btn-primary" (click)="showFormValue()">Show value</button>
</form>
